img {
    height: 100px;
    width: 65px;
    float: left;
}

#mainTitle {
    font-size: 50px;
    font-family: "Gabriola", "Assistant SemiBold";
    text-align: center;
}

#Description {
    font-size: 35px;
    font-family: "Gabriola", "Assistant SemiBold";
    text-align: center;
    margin-top: -20px;
}

.Rows input {
    height: 40px;
    width: 40px;
    font-size: 30px;
    font-family: "Assistant SemiBold","Arial";
    text-align: center;
    margin-bottom: 3px;
}

#letters button {
    height: 35px;
    width: 35px;
    font-size: 18px;
    text-align: center;
    font-family: "Assistant SemiBold","Arial";
    margin-bottom: 3px;
}

body {
    color: white;
    background: black;
    align-items: center;
    text-align: center;
    direction: rtl;
}