img {
    height: 100px;
    width: 65px;
    float: left;
}

body {
    color: white;
    background: black;
}

#mainTitle {
    font-size: 50px;
    font-family: Calibri, serif;
    text-align: center;
}


/*.Row1 {*/
/*    font-size: 30px;*/
/*    text-align: center;*/
/*    height: 50px;*/
/*    width: 50px;*/
/*}*/


div {
    font-size: 30px;
    text-align: center;

}
